@model Turnos.Models.Paciente

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>

<body>
    <h4>¿Está seguro de eliminar el siguiente paciente?</h4>
    <div>
        <h5>Paciente</h5>
        <hr />
        <div class="row">
            <div class="col s12 m6">
                <div class="card hoverable light-green darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">
                            <h5><b>@Html.DisplayFor(modelo => modelo.Nombre) @Html.DisplayFor(model => model.Apellido)</b></h5>
                        </span>
                        <hr />
                        <dt>
                            <h6><b>@Html.DisplayNameFor(model => model.Direccion):</b> @Html.DisplayFor(model => model.Direccion)</h6>
                        </dt>
                        <dt>
                            <h6><b>@Html.DisplayNameFor(model => model.Telefono):</b> @Html.DisplayFor(model => model.Telefono)</h6>
                        </dt>
                        <dt>
                            <h6><b>@Html.DisplayNameFor(model => model.Email):</b> @Html.DisplayFor(model => model.Email)</h6>
                        </dt>
                    </div>
                    <div class="card-action light-green darken-4">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="IdPaciente" />
                            <input type="submit" value="Eliminar" class="waves-effect waves-light btn-small light-green darken-1" />
                            <a asp-action="Index" class="waves-effect waves-light btn-small blue-grey darken-1 right">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>