@model Turnos.Models.Paciente

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>

<body>
    <div>
        <h4>Paciente</h4>
        <hr />
        <div class="row">
            <div class="col s12 m6">
                <div class="card hoverable light-green darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">
                            <h5><b>@Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)</b>
                            </h5>
                        </span>
                        <hr />
                        <dt>
                            <h6><b>Dirección:</b> @Html.DisplayFor(model => model.Direccion)</h6>
                        </dt>
                        <dt>
                            <h6><b>Teléfono:</b> @Html.DisplayFor(model => model.Telefono)</h6>
                        </dt>
                        <dt>
                            <h6><b>Correo electrónico:</b> @Html.DisplayFor(model => model.Email)</h6>
                        </dt>
                    </div>

                    <div class="card-action light-green darken-4">
                        <form asp-action="Edit">
                            <input type="hidden" asp-for="IdPaciente" />
                            <a asp-action="Edit" asp-route-id="@Model.IdPaciente"
                                class="waves-effect waves-light btn-small light-green darken-1">Editar</a>
                            <a asp-action="Index"
                                class="waves-effect waves-light btn-small blue-grey darken-1 right">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>